body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #fdfbfb, #ebedee);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mensagem h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
  color: #333;
}

.mensagem p {
  font-size: 1.2em;
  color: #555;
}

.avatar {
  position: absolute;
  bottom: 10px;
  width: 120px;
  animation: correr 4s infinite linear;
}

.avatar img {
  width: 100%;
}

@keyframes correr {
  0% { left: -150px; }
  100% { left: 110%; }
}
